<main class="h-screen w-screen bg-[url('/assets/bg.jpg')] bg-cover bg-center">
  <div class="absolute z-0 h-full w-1/2 blur-lg blurry-to-clear">  </div>
  <app-navbar></app-navbar>
  <div class="absolute left-[8%] z-0 text-white w-fit h-full flex flex-col justify-center items-center font-roboto">
    <div class="w-[300px] sm:w-[500px] md:w-[700px] space-y-8">
      <h1 class="text-7xl sm:text-9xl font-bold">Thailand</h1>
      <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque gravida in fermentum et sollicitudin ac orci phasellus egestas. Tincidunt tortor aliquam nulla facilisi cras fermentum. Dui accumsan sit amet  </p>
      <button class="bg-white text-black pr-5 pl-10 pt-3 pb-3 rounded-xl transition ease-in-out delay-50 hover:bg-blue-300 hover:text-white hover:drop-shadow-lg flex items-center justify-center">
        Explore
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
      </button>
    </div>
  </div>
  <div class="absolute bottom-14 left-16 sm:space-y-3 flex sm:flex-col flex-row sm:space-x-0 space-x-4">
    <div>
      <a href="https://x.com" target="_blank" rel="noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50"><path fill="white" d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z"></path></svg>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="30px" height="30px">    <path fill="white" d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"/></svg>
      </a>
    </div>
    <div>
      <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="3 0" viewBox="0 0 50 50"> <path fill="white" d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M37,19h-2c-2.14,0-3,0.5-3,2 v3h5l-1,5h-4v15h-5V29h-4v-5h4v-3c0-4,2-7,6-7c2.9,0,4,1,4,1V19z"></path> </svg>    
      </a>
    </div>
  </div>
  <app-cardscarousel></app-cardscarousel>
</main>

<router-outlet />
